
.header {
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.headerTop {
    display: flex;
    flex-direction: row;
    height: 71px;
    width: 100%;
    padding-top: 15px;
    padding-left: 40px;
}

.headerTopContacts  {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.headerTopContact {
    font-family: 'Poppins', sans-serif;
    font-size: 11px;
    font-weight: 300;
    line-height: 17px;
    letter-spacing: 0.15em;
    text-align: left;
    
}

.headerLogoDiv {
    border-right: 3px solid white;
}

.headerLogo {
    height: 100px;
    width: auto;
    padding: 14px 55px 0;
}

.headerTopLinks {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 140px;
}

.headerTopLink {
    text-decoration: none;
    color: black;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 500;
    text-align: left;
}

.headerLanguageButtons {
    padding-left: 100px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    justify-content: end;
    

}

.headerLanguageButton {
}

.headerLanguageButtonText {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0.03em;
    text-align: end;
}

.headerBot {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 115px;
    background: linear-gradient(245.86deg, #1B3571 26.48%, #5E1532 93.72%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.headerBotTabs {
    display: flex;
    flex-direction: row;
    gap: 80px;
    padding-top: 40px;
    padding-left: 100px;
    list-style-type: none;
}

.headerBotTab {
    text-decoration: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 900;
    line-height: 36px;
    letter-spacing: 0.03em;
    text-align: left;

}

.droptab {
    width: max-content;
    padding: 5px;
    
}


.droptab-link {

    transition: all linear .2s;
    touch-action: manipulation;
    text-decoration: none;
    color: black;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 300;
    padding: 0 20px;
    width: 100%;
}