
.header {
    display: flex;
    flex-direction: column;
}

.headerTop {
    display: flex;
    flex-direction: row;
    height: 71px;
    width: 100%;
    background-color: white;
    padding-top: 15px;
    padding-left: 40px;
}

.headerTopContacts {
    gap: 0;
}

.headerTopContact {
    font-family: Poppins;
    font-size: 11px;
    font-weight: 300;
    line-height: 17px;
    letter-spacing: 0.15em;
    text-align: left;
}

.headerLogo {
    height: 87px;
    width: auto;
    padding-top: 25px;
    padding-left: 100px;
}

.headerTopLinks {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 140px;
}

.headerTopLink {
    text-decoration: none;
    color: black;
    text-align: center;
    font-family: Poppins;
    font-size: 13px;
    font-weight: 500;
    text-align: left;
}

.headerLanguageButtons {
    padding-left: 40px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: end;

}

.headerLanguageButton {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
    letter-spacing: 0.03em;
    text-align: left;
}

.headerBot {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 115px;
    background: linear-gradient(245.86deg, #1B3571 26.48%, #5E1532 93.72%);
}


.headerBotTabs {
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding-top: 40px;
    list-style-type: none;
}

.headerBotTab {
    text-decoration: none;
    color: white;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 900;
    line-height: 36px;
    letter-spacing: 0.03em;
    text-align: left;

}