.staff {
    padding: 100px;
}

.header {
    text-transform: uppercase;
    margin: 0 0 20px 0;
    font-weight: 800;
    font-size: 36px;
    color: white;
}

.employees {
    display: flex;
    flex-flow: wrap row;
}

.employee {
    padding: 20px 20px 20px 0;
}

.link {
    text-decoration: none;
    color: black;
}

.employeePhoto {
    height: 300px;
    width: auto;
}

.staffDetail {
    display: flex;
    flex-direction: row;
    padding: 100px;
}


.employeeParams {
    padding-left: 50px;
}

.employeeParam {
    display: flex;
    flex-direction: row;
}

.employeeIcon {
    height: 25px;
    width: auto;
    padding-right: 20px;
}

