.homeWrapper {
    display: flex;
    flex-direction: column;

}

.header {
    text-transform: uppercase;
    margin: 0 0 20px 0;
    font-weight: 800;
    font-size: 36px;
    color: #333;
}

.homeBanner{
    display: table;
    width: 100%;
    padding: 150px;
    background-image: url('../../media/2023-09-03\ 15.36.08.jpg');
    color: white;
    text-align: center;
    background-size: cover;
}

.homeBannerOverlay {
    
    background: rgba(0,0,0,0.2);

}

.homeBannerHeader {
    font-family: 'Raleway',sans-serif;
    color: #fff;
    font-size: 82px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 10px;
}

.homeBannerText {
    color: #fff;
    font-size: 22px;
    font-weight: 300;
    line-height: 30px;
    margin: 0 auto;
    margin-bottom: 60px;
}

.homeEmployees {
    padding: 100px;
}

.homeEmployeesHeader {
    text-align: center;
}

.mapMain {
    display: flex;
    flex-direction: row;
}

.mapContacts {
    display: flex;
    flex-direction: column;
}

.contact {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.contactIcon {
    height: 30px;
    width: auto;
}

.contactText {
    padding-left: 5px;
}

.employeesList {
    display: flex;
    flex-direction: row;
}

.employeesItem {
    padding: 20px;
}

.employeesImg {
    width: 200px;
    height: auto;
}

.homeMainNews {
    padding: 100px;
}

.newsUnderHeader {
    display: flex;
    flex-direction: row;
}

.arrow {
    padding: 0 10px;
    height: 20px;
    width: auto;
}

.latestNews {
    display: flex;
    flex-direction: row;
}

.latestNewsItem {
    display: flex;
    flex-direction: row;
}

.otherNews {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.homeMainMap {
    padding: 100px;
}

.map {
    width: 500px;
    height: 500px;
}

.contactUs {
    padding: 100px;
}

.contactUsTop {
    display: flex;
    flex-direction: row;
}

.socialLinks {
    display: flex;
    flex-direction: row;
}

.socialIcon {
    height: 35px;
    width: auto;
}

.contactUsNameEmail {
    display: flex;
    flex-direction: row;
}